.plus-minus {
  display: flex;
  align-items: center;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid $dark-50;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
  }

  &__input {
    border: 0;
    font: $btn-font;
    text-align: center;
    max-width: 35px;
  }
}

.dropdown {
  position: relative;
  min-width: 235px;

  &__result {
    border: 1px solid $dark-25;
    border-radius: 4px 4px 0 0;
    font: $default-font;
    color: $dark-75;
    padding: 12px 30px 12px 15px;
    transition: $transition;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-image: url('/dropdown_hidden.svg');
    background-repeat: no-repeat;
    background-position: calc(100%-16px);

    &:hover,
    &:focus {
      outline: none;
      border-color: $dark-50;
      color: $dark-75;
    }
  }

  &__content {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    border-radius: 0 0 4px 4px;
    border: 1px solid $dark-50;
    border-top: 0;
    background-color: $white;
  }

  &__list {
    box-sizing: border-box;
    padding-bottom: 5px;
    font: $btn-font;
  }

  &__item {
    padding: 5px 7px 2px 11px;
    display: flex;
    justify-content: space-between;
  }

  &__option {
    display: flex;
    align-items: center;
    font: inherit;
    text-transform: uppercase;
    flex-wrap: wrap;
    word-break: break-word;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin: 13px 0 10px 6px;

    button {
      border: 0;
      background-color: transparent;
      font: $btn-font;
      text-transform: uppercase;
    }
  }

  &__reset {
    color: $dark-50;

    &_hidden {
      visibility: hidden;
    }
  }

  &__apply {
    color: $purple;
  }
}