.signin-page {
  @include wrapper;

  &__main {
    flex: 1 0 auto;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 683px;
    width: 100%;
    margin: 0 auto 1px;
    background-image: url('../../images/registration-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;

    @media (max-width: 768px) {
      min-height: 0;
    }
  }

  &__login-card {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      padding: 30px 10px;
    }

    @media (max-width: 400px) {
      padding: 60px 10px;
    }
  }
}