.room-details {
  &__wrapper {
    @include wrapper;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1350px) and (min-width: 1151px) {
      padding: 0 50px;
    }

    @media (max-width: 1150px) {
      flex-direction: column;
      justify-content: unset;
    }

    @media (max-width: 750px) and (min-width: 401px) {
      padding: 0 30px;
    }

    @media (max-width: 400px) {
      padding: 0 10px;
    }
  }

  &__main {
    flex: 1 0 auto;
    border-bottom: 1px solid $border;
  }

  &__main-block {
    margin-right: 25px;

    @media (max-width: 1150px) {
      margin-right: 0;
    }
  }

  &__title {
    @include visually-hidden;
  }

  &__booking {
    margin-bottom: 30px;

    @media (max-width: 1150px) {
      display: flex;
      justify-content: center;
    }
  }

  &__room-info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1150px) {
      justify-content: space-evenly;
      margin-bottom: 30px;
    }

    @media (max-width: 750px) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__room-photos {
    margin: 0 auto 71px;
    max-width: 1440px;
    width: 100%;
    max-height: 485px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;

    @media (max-width: 1400px) {
      max-height: none;
      grid-template-columns: 1fr max-content;
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 50%);
    }

    @media (max-width: 550px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__photo {
    @media (max-width: 1400px) {
      height: 100%;
    }
  }

  &__photo-box {
    @media (max-width: 1400px) {
      height: 100%;
    }

    @media (max-width: 400px) {
      display: flex;
    }
  }

  &__photo-box:nth-child(1) {
    grid-row: 1 / 3;

    @media (max-width: 800px) {
      grid-column: 1 / 3;
      grid-row: 1/ 2;
    }

    .room-details__photo {
      object-fit: cover;
      width: 100%;

      @media (max-width: 1400px) {
        height: 100%;
      }
    }
  }

  &__photo-box:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @media (max-width: 800px) {
      grid-column: 1 / 2;
      grid-row: 2/ 3;

      .room-details__photo {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__photo-box:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: relative;
    bottom: 6px;

    .room-details__photo {
      width: 100%;
    }

    @media (max-width: 1400px) {
      position: static;
    }

    @media (max-width: 800px) {
      grid-column: 2 / 3;
      grid-row: 2/ 3;
    }
  }

  &__room-restrictions {
    margin-bottom: 61px;
  }

  &__room-reviews {
    margin-bottom: 33px;
  }

  &__impression {
    margin-right: 37px;

    @media (max-width: 1150px) {
      margin-right: 0;
    }
  }
}

.room-restrictions {
  display: flex;

  @media (max-width: 1150px) {
    justify-content: space-evenly;
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }

  &__room-rules {
    margin-right: 98px;

    @media (max-width: 1150px) and (min-width: 701px) {
      margin-right: 30px;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }
  }

  &__room-cancel {
    max-width: 341px;
  }
}

.room-reviews {
  max-width: 710px;

  @media (max-width: 1150px) {
    max-width: none;
  }

  &__grid {
    @media (max-width: 1150px) {
      max-width: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      justify-content: space-between;
    }

    @media (max-width: 450px) {
      display: block;
    }
  }

  &__room-review {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__title {
    margin: 0 0 18px;
    font: $h2-font;
    letter-spacing: 0.03em;

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 1150px) {
      grid-column: 1 / 3;
    }
  }

  &__reviews-num {
    font: $default-font;
    color: $dark-50;
  }
}

.room-rules {
  &__title {
    margin: 0 0 17px;
    font: $h2-font;
    letter-spacing: 0.03em;
    padding-left: 20px;

    @media (max-width: 700px) {
      padding-left: 0;
    }
  }

  &__list {
    max-width: 263px;
  }
}

.room-cancel {
  &__title {
    margin: 0 0 17px;
    font: $h2-font;
    letter-spacing: 0.03em;
  }

  &__text {
    font: $default-font;
    line-height: 24px;
  }
}