extends ../template-page/template-page.pug

include ../../components/toxin-header/toxin-header.pug
include ../../components/toxin-footer/toxin-footer.pug
include ../../components/advantage/advantage.pug
include ../../components/comment/comment.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/booking/booking.pug

block meta
  meta(name="description", content="room details")
  meta(name="keywords", content="rooms, details, room")

block title
  title Room Details

block content
  body.room-details
    .room-details__wrapper
      +toxin-header()
      main.room-details__main
        h2.room-details__title.visually-hidden Сведения о номере
        .room-details__room-photos
          .room-photos
            .room-photos__photo-box
              img.room-photos__photo(src="/details-1.jpg", alt="room-photo")
            .room-photos__photo-box
              img.room-photos__photo(src="/details-2.jpg", alt="room-photo")
            .room-photos__photo-box
              img.room-photos__photo(src="/details-3.jpg", alt="room-photo")
        .room-details__container
          .room-details__main-block
            .room-details__room-info
              .room-info
                section.room-info__info
                  h2.room-info__title Сведения о номере
                  .room-info__advantages
                    .room-info__advantage
                      +advantage({
                        title: 'Комфорт',
                        description: 'Шумопоглощающие стены',
                        alt: 'Дом',
                        imgLink: "/advantage_house.svg"
                      })
                    .room-info__advantage
                      +advantage({
                        title: 'Удобство',
                        description: 'Окно в каждой из спален',
                        alt: 'Город',
                        imgLink: "/advantage_city.svg"
                      })
                    .room-info__advantage
                      +advantage({
                        title: 'Уют',
                        description: 'Номер оснащён камином',
                        alt: 'Камин',
                        imgLink: "/whatshot.svg"
                      })
                section.room-info__impression
                  h2.room-info__title Впечатления от номера
                  .room-info__diagram
                    .room-info__canvas-box
                      canvas(id='doughnut-chart' width='120' height='120') 
                      span.room-info__canvas-text 260 
                        span.room-info__canvas-text_highlighted голосов
                    ol.room-info__diagram-legend.diagram-legend
                      li.diagram-legend__item Великолепно
                      li.diagram-legend__item Хорошо
                      li.diagram-legend__item Удовлетворительно
                      li.diagram-legend__item Разочарован
            .room-details__room-reviews
              section.room-reviews
                .room-reviews__box
                  h2.room-reviews__title Отзывы посетителей номера
                  .room-reviews__reviews-num 2 отзыва
                .room-reviews__grid
                  .room-reviews__room-review
                    .room-review
                      +comment({
                        src: "/comment.jpg",
                        activeLike: true,
                        likes: 12,
                        author: "Мурад Сарафанов",
                        date: "5 дней назад",
                        comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                      })
                  .room-reviews__room-review
                    .room-review
                      +comment({
                        src: "/comment-1.jpg",
                        likes: 2,
                        author: "Патрисия Стёклышкова",
                        date: "Неделю назад",
                        comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
                      })
            .room-details__room-restrictions
              section.room-restrictions
                .room-restrictions__room-rules
                  .room-rules
                    h2.room-rules__title Правила
                    .room-rules__list
                      +bullet-list({
                        items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
                      })
                .room-restrictions__room-cancel
                  .room-cancel
                    h2.room-cancel__title Отмена
                    .room-cancel__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
          .room-details__booking
            +booking({
              num: '888',
              type: 'люкс',
              fullPrice: '38 081₽',
              start: {
                id: 'cards__start-1'
              },
              end: {
                id: 'cards__end-1'
              },
              price: '9 990₽',
              calc: [
                ['9 990₽ х 4 суток', '39 960₽'],
                ['Сбор за услуги: скидка 2 179₽', '0₽', 'Инфо'],
                ['Сбор за дополнительные услуги', '300₽', 'Информация']
              ]
            })
      +toxin-footer()
                      
