.pagination {
  font: $default-font;
  display: flex;
  flex-direction: column;

  &__title {
    @include form-element;
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    margin-bottom: 5px;
  }

  &__next-page {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    background-image: $datepicker-today;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../../images/arrow-forward-white.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
    }
  }

  &__hidden-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 40px;
    height: 40px;
  }

  &__description {
    margin: 0;
    padding-left: 5px;
    font: inherit;
    color: $dark-75;
    line-height: 24px;
  }

  &__next-page {
    transition: 0.3s;

    &:hover {
      filter: brightness(0.8);
    }

    &-text {
      @include visually-hidden;
    }
  }
}