.pagination {
	display: flex;
	margin-bottom: 8px;

	&__container {
		font: $default-font;
		display: flex;
		flex-direction: column;
	}

	&__next-page {
		display: inline-block;
		border-radius: 50%;
		position: relative;
		width: 40px;
		height: 40px;
		background-image: $datepicker-today;

		&::before {
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url('/pagination_arrow_forward.svg');
			background-repeat: no-repeat;
			background-size: 100%;
			z-index: 1;
		}
	}

	&__page {
		font-size: 12px;
		color: $dark-50;

		&-link {
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			color: $dark-50;
			min-width: 40px;
			height: 40px;
			padding: 0 5px;
			font: inherit;
			text-decoration: none;
			color: inherit;
			transition: $transition;
			border-radius: 50%;

			&:hover,
			&:focus {
				background-color: $dark-25;
			}

			&:active {
				background-color: $dark-50;
			}
		}

		&_active &-link {
			background-image: $btn-gradient;
			color: $white;
			font-weight: 700;
		}
	}

	&__hidden-pages {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		min-width: 40px;
		height: 40px;
	}

	&__description {
		margin: 0;
		padding-left: 5px;
		font: inherit;
		color: $dark-75;
		line-height: 24px;
	}
}