include ../button/button.pug

mixin note(options = {})
  -
    var {
      buttonText="войти",
      noteText="Нет аккаунта на Toxin",
      link="./mock"
    } = options
  .note
    span.note__text=noteText
    .note__btn
      +button({buttonText, styleType: "secondary", link})