include ../buttons/buttons.pug

mixin note({btnText = 'войти', noteText = 'Нет аккаунта на Toxin', link = './mock'})
  .note
    span.note__text=noteText
    .note__btn
      +button({btnText, type: 'secondary', link})