include ../../components/headers-footers/headers.pug
include ../../components/headers-footers/footers.pug
include ../../components/find-room/find-room.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing page
    link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")
  body.landing-page
    .wrapper
      +header({unlogged: true, regText: 'зарегистрироваться', loginText: 'войти',
      items: [{text: 'О нас', link: './mock'}, {text: 'Услуги', link: './mock', dropdown: [{text: 'Услуга', link: './mock'},{text: 'Услуга 2', link: './mock'},{text: 'Услуга 2', link: './mock'}]},
        {text: 'Вакансии', link: './mock'},{text: 'Новости', link: './mock'},
        {text: 'Соглашения', link: './mock', dropdown: [{text: 'Услуга', link: './mock'},{text: 'Услуга 2', link: './mock'},{text: 'Услуга 2', link: './mock'}]}]})
      main
        section.room-booking
          .container
            h2.room-booking__title.visually-hidden Бронирование комнат
            .room-booking__form
              +find-room({title: 'Найдём номера под ваши пожелания', start: {id: 'cards__start'}, end: {id: 'cards__end'}})
            .room-booking__note Лучшие номера для вашей работы, отдыха и просто вдохновения
      +footer({extended: true,
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
        socialList: [{name: 'Twitter', link: './mock', imgLink: '/twitter.svg'},
        {name: 'Facebook', link: './mock', imgLink: '/facebook.svg'},{name: 'Insta', link: './mock', imgLink: '/insta.svg'}],
    sub: {title: 'Subscribe to our newsletter',
      text: 'Receive our latest news and promotions in your inbox!',
      placeholder: 'Your email address'},
        navLists: [{title: 'навигация',
        items: ['О нас', 'Новости', 'Служба поддержки', 'Услуги']},
          {title: 'о нас', 
          items: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']},
          {title: 'Служба поддержки', items: ['Соглашения', 'Сообщества', 'Связь с нами']}],
            sub: {title: 'Подписка', placeholder: 'Email', text: 'Получайте специальные предложения и новости сервиса'},
            companyText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'})
                


        

