.advantage {
  display: flex;
  list-style: none;
  padding: 1px 16px 20px 0;
  border-bottom: 1px solid $dark-10;
  font: $default-font;
  line-height: 24px;

  &__image {
    box-sizing: border-box;
    padding: 4px;
    margin-right: 10px;
    width: 48px;
    height: 48px;

    &_type {
      &_house {
        padding: 4px 5px 6px 5px;
      }

      &_fire {
        padding: 1px 5px 4px 5px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
  }

  &__description {
    color: $dark-75;
  }
}