mixin advantage({imgLink = './mock', alt = 'Преимущество', title = 'Преимущество', description = 'Описание преимущества'} = {})
  .advantage
    img.advantage__img(src=imgLink, alt=alt)
    span.advantage__title=title
    span.advantage__description=description