include ../button/button.pug
include ../header-nav/header-nav.pug

mixin header({items = [], unlogged = false, loginText = "Войти", regText = "Зарегистрироваться", username = "Иван Иванов", logoLink = "landing-page.html"} = {})
  header.main-header
    .main-header__container
      h1.main-header__title Toxin Бронирование отелей
      a(href=logoLink).main-header__logo-link
        .main-header__logo
          img(src="logo.svg", alt="Logo")
        .main-header__name
          img(src="toxin.svg", alt="Company TOXIN")
      .main-header__menu
        .main-header__nav
          +header-nav({ items }) 
        if unlogged
          .main-header__login
            .main-header__login-menu
              .main-header__login-btn
                +button({btnText: loginText, type: "secondary", slim: true, link: "signin-page.html"})
              .main-header__register-btn
                +button({btnText: regText, slim: true, link: "registration-page.html"})
        else
          .main-header__login
            .main-header__login-menu.main-header__login-menu_logged
              =username
