.room-impression {
  &__title {
    margin: 0 0 18px;
    font: $h2-font;
  }

  &__diagram {
    display: flex;
  }

  &__canvas-box {
    position: relative;
    width: 123px;
    height: 123px;
    margin-right: 28px;

    @media (max-width: 400px) {
      margin-right: 10px;
    }
  }

  &__canvas-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font: $h1-font;
    color: $purple;
    line-height: 18px;

    &_highlighted {
      font: $button-font;
      text-transform: uppercase;
    }
  }

  &__diagram-legend {
    margin: 29px 0 0 0;
    padding: 0;
    list-style: none;
  }

  &__diagram-item {
    padding-left: 15px;
    position: relative;
    font: $default-font;
    line-height: 24px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    &:nth-child(1)::before {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &:nth-child(2)::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &:nth-child(3)::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &:nth-child(4)::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }
}