include ../../components/meta/meta.pug
include ../../components/toxin-header/toxin-header.pug
include ../../components/toxin-footer/toxin-footer.pug
include ../../components/find-room/find-room.pug

mixin landing-page(options = {})
  -
    var {
      note = {
        title: "Найдём номера под ваши пожелания"
      },
      noteText = "Лучшие номера для вашей работы, отдыха и просто вдохновения",
    } = options
  body.landing-page
    .landing-page__wrapper
      main.landing-page__main
        section.landing-page__room-booking
          .landing-page__form
            +find-room(note)
          .landing-page__note=noteText