include ../range-datepicker/range-datepicker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin find-room(options = {})
  -
    var {
      title,
      action="search-room.html",
      startLabel = "Прибытие",
      endLabel = "Выезд",
      dropdown = {
        title: "гости",
        controls: true,
        placeholder: "Сколько гостей",
        optionsList: [{
          text: "Взрослые",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Дети",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Младенцы",
          wordForms: "младенец младенца младенцев"
        }]
      },
      button = {buttonText: "подобрать номер", styleType: "proceed"}
    } = options
  form(action=action).find-room
    h2.find-room__title=title
    .find-room__datepicker
      +range-datepicker({
        startLabel,
        endLabel
      })
    .find-room__dropdown
      +dropdown(dropdown)
    +button(button)
