.find-room {
  box-sizing: border-box;
  max-width: 380px;
  min-width: 300px;
  padding: 39px 29px 29px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: $white;

  @media (max-width: 600px) {
    padding: 20px 20px;
  }

  @media (max-width: 600px) {
    padding: 15px 5px;
  }

  &__title {
    max-width: 320px;
    font: $h2-font;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    line-height: 30px;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  &__datepicker {
    margin-bottom: 21px;
  }

  &__dropdown {
    margin-bottom: 31px;
  }

  &__label {
    font: $button-font;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}