include ../datepicker/datepicker.pug
include ../dropdown/dropdown.pug
include ../buttons/buttons.pug

mixin find-room({title, start, end, dropdownLabel} = {})
  form.find-room
    h3.find-room__title=title
    .find-room__datepicker
      +datepicker-double({
        start: {
          label: 'Прибытие',
          id: start.id
        },
        end: {
          label: 'Выезд',
          id: end.id
        }
      })
    .find-room__dropdown
      .find-room__label=dropdownLabel
      +dropdown({
        title: 'гости',
        controls: true,
        id: 'find-room-dropdown',
        placeholder: 'Сколько гостей',
        optionsList: [{
          text: 'Взрослые',
          wordForms: 'гость гостя гостей',
          group: 1
        }, {
          text: 'Дети',
          wordForms: 'гость гостя гостей',
          group: 1
        }, {
          text: 'Младенцы',
          wordForms: 'младенец младенца младенцев'
        }]
      })
    +button({btnText: 'подобрать номер', type: 'proceed'})
