include ../range-datepicker/range-datepicker.pug
include ../dropdown/dropdown.pug
include ../btn/btn.pug

mixin find-room({title, action = "search-room.html"} = {})
  form(action=action).find-room
    h2.find-room__title=title
    .find-room__datepicker
      +range-datepicker({
        startLabel: "Прибытие",
        endLabel: "Выезд"
      })
    .find-room__dropdown
      +dropdown({
        title: "гости",
        controls: true,
        placeholder: "Сколько гостей",
        optionsList: [{
          text: "Взрослые",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Дети",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Младенцы",
          wordForms: "младенец младенца младенцев"
        }]
      })
    +btn({btnText: "подобрать номер", type: "proceed"})
