$dark-100: rgba(#1F2041, 1);
$dark-75: rgba(#1F2041, 0.75);
$dark-50: rgba(#1F2041, 0.5);
$dark-25: rgba(#1F2041, 0.25);
$dark-5: rgba(#1F2041, 0.05);
$purple: rgba(#BC9CFF, 1);
$green: rgba(#6FCF97, 1);