extends ../../components/template-page/template-page.pug

include ../../components/toxin-header/toxin-header.pug
include ../../components/toxin-footer/toxin-footer.pug
include ../../components/room/room.pug
include ../../components/slider/slider.pug
include ../../components/expandable-list/expandable-list.pug
include ../../components/checkbox/checkbox.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/date-filter/date-filter.pug
include ../../components/dropdown/dropdown.pug
include ../../components/pagination/pagination.pug
include ../../components/filter/filter.pug
include ../../components/rooms-grid/rooms-grid.pug

block meta
  meta(name="description", content="search room")
  meta(name="keywords", content="search, rooms, room")
  link(rel="stylesheet", href="search-room.css")

block title
  title Search room

block content
  body.search-room
    .search-room__wrapper
      .search-room__header
        +toxin-header()
      main.search-room__main
        .search-room__container
          .search-room__filter
            +filter()
          .search-room__rooms
            +rooms-grid({
              rooms: [{
                num: "888",
                checkedRating: 5,
                isRatingDisabled: true,
                sliderImgs: ["./1.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                link: "room-details.html",
                reviewNum: 145,
                type: "люкс",
                price: "9 990₽"
                },
                {
                  num: "840",
                  checkedRating: 4,
                  isRatingDisabled: true,
                  sliderImgs: ["./2.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 65,
                  price: "9 900₽"
                },
                {
                  num: "980",
                  checkedRating: 3,
                  isRatingDisabled: true,
                  sliderImgs: ["./3.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 35,
                  type: "люкс",
                  price: "8 500₽"
                },
                {
                  num: "856",
                  checkedRating: 5,
                  isRatingDisabled: true,
                  sliderImgs: ["./4.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 19,
                  price: "7 300₽"
                },
                {
                  num: "740",
                  checkedRating: 4,
                  isRatingDisabled: true,
                  sliderImgs: ["./5.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 44,
                  price: "6 000₽"
                },
                {
                  num: "982",
                  checkedRating: 3,
                  isRatingDisabled: true,
                  sliderImgs: ["./6.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 56,
                  price: "5 800₽"
                },
                {
                  num: "678",
                  checkedRating: 5,
                  isRatingDisabled: true,
                  sliderImgs: ["./7.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 45,
                  price: "5 500₽"
                },
                {
                  num: "450",
                  checkedRating: 4,
                  isRatingDisabled: true,
                  sliderImgs: ["./8.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 39,
                  price: "5 300₽"
                },
                {
                  num: "350",
                  checkedRating: 3,
                  isRatingDisabled: true,
                  sliderImgs: ["./9.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 77,
                  price: "5 000₽"
                },
                {
                  num: "666",
                  checkedRating: 5,
                  isRatingDisabled: true,
                  sliderImgs: ["./10.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 25,
                  price: "5 000₽"
                },
                {
                  num: "444",
                  checkedRating: 3,
                  isRatingDisabled: true,
                  sliderImgs: ["./11.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 15,
                  price: "5 000₽"
                },
                {
                  num: "352",
                  checkedRating: 3,
                  isRatingDisabled: true,
                  sliderImgs: ["./12.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
                  link: "room-details.html",
                  reviewNum: 55,
                  price: "5 000₽"
                }
              ]
            })
      +toxin-footer()