extends ../template-page/template-page.pug

include ../../components/toxin-header/toxin-header.pug
include ../../components/toxin-footer/toxin-footer.pug
include ../../components/room/room.pug
include ../../components/range-slider/range-slider.pug
include ../../components/expandable-list/expandable-list.pug
include ../../components/checkbox-buttons/checkbox.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/date-filter/date-filter.pug
include ../../components/dropdown/dropdown.pug
include ../../components/pagination/pagination.pug
include ../../components/filter/filter.pug
include ../../components/rooms-grid/rooms-grid.pug

block meta
  meta(name="description", content="search room")
  meta(name="keywords", content="search, rooms, room")

block title
  title Search room

block content
  body.search-room
    .search-room__wrapper
      .search-room__header
        +toxin-header()
      main.search-room__main
        .search-room__container
          .search-room__filter
            +filter()
          .search-room__rooms
            +rooms-grid()
      +toxin-footer