include ../room/room.pug
include ../pagination/pagination.pug

mixin rooms-grid()  
  section.rooms
    h2.rooms__title Номера, которые мы для вас подобрали
    ul.rooms__list
      li.rooms__room-item
        +room({
          num: "888",
          checkedRating: 5,
          isRatingDisabled: true,
          sliderImgs: ["/1.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 145,
          type: "люкс",
          price: "9 990₽"
        })
      li.rooms__room-item
        +room({
          num: "840",
          checkedRating: 4,
          isRatingDisabled: true,
          sliderImgs: ["/2.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 65,
          price: "9 900₽"
        })
      li.rooms__room-item
        +room({
          num: "980",
          checkedRating: 3,
          isRatingDisabled: true,
          sliderImgs: ["/3.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 35,
          type: "люкс",
          price: "8 500₽"
        })
      li.rooms__room-item
        +room({
          num: "856",
          checkedRating: 5,
          isRatingDisabled: true,
          sliderImgs: ["/4.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 19,
          price: "7 300₽"
        })
      li.rooms__room-item
        +room({
          num: "740",
          checkedRating: 4,
          isRatingDisabled: true,
          sliderImgs: ["/5.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 44,
          price: "6 000₽"
        })
      li.rooms__room-item
        +room({
          num: "982",
          checkedRating: 3,
          isRatingDisabled: true,
          sliderImgs: ["/6.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 56,
          price: "5 800₽"
        })
      li.rooms__room-item
        +room({
          num: "678",
          checkedRating: 5,
          isRatingDisabled: true,
          sliderImgs: ["/7.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 45,
          price: "5 500₽"
        })
      li.rooms__room-item
        +room({
          num: "450",
          checkedRating: 4,
          isRatingDisabled: true,
          sliderImgs: ["/8.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 39,
          price: "5 300₽"
        })
      li.rooms__room-item
        +room({
          num: "350",
          checkedRating: 3,
          isRatingDisabled: true,
          sliderImgs: ["/9.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 77,
          price: "5 000₽"
        })
      li.rooms__room-item
        +room({
          num: "666",
          checkedRating: 5,
          isRatingDisabled: true,
          sliderImgs: ["/10.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 25,
          price: "5 000₽"
        })
      li.rooms__room-item
        +room({
          num: "444",
          checkedRating: 3,
          isRatingDisabled: true,
          sliderImgs: ["/11.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 15,
          price: "5 000₽"
        })
      li.rooms__room-item
        +room({
          num: "352",
          checkedRating: 3,
          isRatingDisabled: true,
          sliderImgs: ["/12.jpg", "/1.jpg", "/2.jpg", "/1.jpg"],
          link: "room-details.html",
          reviewNum: 55,
          price: "5 000₽"
        })
    .rooms__pagination
      +pagination({
        num: 15, 
        description: "1 – 12 из 100+ вариантов аренды"
      })