include ../room/room.pug
include ../pagination/pagination.pug

mixin rooms-grid({ rooms = [] } = {})  
  section.rooms
    h2.rooms__title Номера, которые мы для вас подобрали
    ul.rooms__list
      each room in rooms
        li.rooms__room-item
          +room(room)
    .rooms__pagination
      +pagination({
        num: 15, 
        description: "1 – 12 из 100+ вариантов аренды"
      })