.rooms-grid {
  &__title {
    font: $h1-font;
    margin-top: 19px;
    letter-spacing: 0.03em;

    @media (max-width: 850px) {
      text-align: center;
      font-size: 17px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-gap: 20px 12px;
    margin-bottom: 42px;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 70px;
  }
}