extends ../../components/template-page/template-page.pug

include ../../components/signin-page/signin-page.pug

block meta
  meta(name="description", content="sign in") 
  meta(name="keywords", content="sign in")
  
block title
  title Sign in

block content
  +signin-page()
