.signin-page {
  &__main {
    flex: 1 0 auto;
  }

  &__wrapper {
    @include wrapper;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    min-height: 684px;
    width: 100%;
    margin: 0 auto;
    background-image: url('/registration-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -70px;
  }

  &__login-card {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}