mixin subscription({title, name, placeholder = 'Введите почту'} = {})
  .subscription
    if title
      .form-element-title=title
    input.subscription__input(type="email" name=name placeholder=placeholder)
    button.subscription__submit-btn(type="submit")
      span.visually-hidden Submit
