mixin subscription({title, name, placeholder = "Введите почту"} = {})
  .subscription
    if title
      .subscription__title=title
    input.subscription__input(type="email" name=name placeholder=placeholder)
    button.subscription__submit-btn(type="submit")
      span.subscription__btn-text Submit
