mixin subscription(options)
  .subscription
    if options.title
      .form-element-title=options.title
    input.subscription__input(type="email", name=options.name, placeholder=options.placeholder)
    button.subscription__submit-btn(type="submit")
      span.visually-hidden Submit
