include ../../components/meta/meta.pug
include ../../components/toxin-header/toxin-header.pug
include ../../components/toxin-footer/toxin-footer.pug
include ../../components/registration/registration.pug

mixin registration-page(options = {})
  -
    var {
      registration = {
        title: "Регистрация аккаунта",
        noteText: "Уже есть аккаунт на Toxin",
        link: "signin-page.html"
      },
    } = options
  body.registration-page
    main.registration-page__main
      .registration-page__card
          +registration(registration)     
