.registration-page {
  &__wrapper {
    @include wrapper;
  }

  &__main {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    min-height: 683px;
    width: 100%;
    margin: 0 auto 1px;
    background-image: url('../../images/registration-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;

    @media (max-width: 768px) {
      min-height: 0;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 6px;

    @media (max-width: 1400px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      padding: 60px 10px;
    }
  }
}