include ../../components/meta/meta.pug
include ../../components/toxin-header/toxin-header.pug
include ../../components/toxin-footer/toxin-footer.pug
include ../../components/registration/registration.pug

mixin registration-page(options = {})
  -
    var {
      description = "registration page",
      keywords = "registration page",
      title = "Registration page"
    } = options
  <!DOCTYPE html>
  html(lang="ru")
    +meta({description, keywords, title})
    body.registration-page
      .registration-page__wrapper
        +toxin-header()
        main.registration-page__main
          .registration-page__card
              +registration({
                title: "Регистрация аккаунта",
                noteText: "Уже есть аккаунт на Toxin",
                link: "signin-page.html"
              })
        +toxin-footer()       
