.comment {
  font: $default-font;
  line-height: 24px;

  &__info {
    display: grid;
    grid-column-gap: 10px;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, max-content);
    margin-bottom: 11px;
  }

  &__photo {
    width: 48px;
    height: 48px;
    grid-row: 1 / 3;
    border-radius: 50%;
  }

  &__author {
    grid-row: 1 / 2;
    font-weight: 700;
  }

  &__date {
    grid-row: 2 / 3;
  }

  &__box {
    display: flex;
  }

  &__like {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 2px 0 4px;
    margin-right: 12px;
  }

  &__text {
    margin: 0;
    padding: 0;
    max-width: 650px;
  }

}