mixin button({type = '', btnText = 'Кнопка', link = ''} = {})
  case type
    when 'secondary'
      - var btnClass = 'btn btn_type_secondary'
    when 'proceed'
      - var btnClass = 'btn btn_type_proceed'
    default
      - var btnClass = 'btn btn_type_primary'
  if link
    a(href=link class=btnClass)=btnText
  else
    button(class=btnClass)=btnText
