.text-field {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid $dark-25;
  border-radius: 4px;
  font: $default-font;
  color: $dark-25;
  padding: 13px 15px;
  transition: $transition;

  &:hover,
  &:focus {
    outline: none;
    border-color: $dark-50;
    color: $dark-75;
  }

  &__title {
    font: $btn-font;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}