.headers-footers {
  background-color: lightgray;

  .header-1 {
    margin-top: 150px;
    margin-bottom: 40px;
  }

  .header-2 {
    margin-bottom: 40px;
  }

  .footer-1 {
    margin-bottom: 40px;
  }
}