.booking {
  box-sizing: border-box;
  max-width: 380px;
  padding: 40px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (max-width: 500px) {
    padding: 20px 10px 15px;
  }

  &__room {
    font: $h1-font;
    font-size: 14px;
    margin: 0 20px 0 0;
  }

  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__type {
    color: $purple;
    font: $btn-font;
    text-transform: uppercase;
  }

  &__per-day {
    color: $dark-50;
    font: $btn-font;
    font-size: 14px;
  }

  &__measurement {
    font-weight: 400;
    font-size: 12px;
  }

  &__digit {
    font-size: 24px;
    margin: 0 5px;
  }

  &__price {
    display: inline-block;
    margin-bottom: 2px;
  }

  &__datepicker {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 21px;
  }

  &__calculation {
    margin-bottom: 28px;
  }

  &__result {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    margin: 0 0 17px 2px;
    font: $h2-font;
    letter-spacing: 0.05em;
  }

  &__dots {
    width: calc(100% - 5px);
    position: relative;
    border-bottom: 1px dotted $dark-25;
    margin: 0 5px 7px;
  }

  &__price {
    padding-left: 5px;
    letter-spacing: normal;
  }
}