extends ../../components/template-page/template-page.pug

include ../../components/checkbox/checkbox.pug
include ../../components/text-field/text-field.pug
include ../../components/radio-btn/radio-btn.pug
include ../../components/subscription/subscription.pug
include ../../components/btn/btn.pug
include ../../components/link/link.pug
include ../../components/like-btn/like-btn.pug
include ../../components/rate-btn/rate-btn.pug
include ../../components/toggle-btn/toggle-btn.pug
include ../../components/pagination/pagination.pug
include ../../components/comment/comment.pug
include ../../components/advantage/advantage.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/slider/slider.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/expandable-list/expandable-list.pug
include ../../components/dropdown/dropdown.pug
include ../../components/range-datepicker/range-datepicker.pug
include ../../components/date-filter/date-filter.pug
include ../../components/find-room/find-room.pug

block meta
  meta(name="description", content="ui-kit")
  meta(name="keywords", content="ui-kit, components")
  link(rel="stylesheet", href="form-elements.css")

block title
  title UI Kit

block content
  body.ui-kit
    .ui-kit__container
      .ui-kit__interactive
        .ui-kit__inputs
          .ui-kit__text-field
            +text-field({
              placeholder: "Email",
              name: "test",
              title: "text field",
              type: "email",
            })
          .ui-kit__text-field
            +text-field({
              placeholder: "This is pretty awesome",
              name: "test",
              title: "text field"
            })
          .ui-kit__dropdown
            +dropdown({
              title: "dropdown",
              placeholder: "Сколько гостей",
              optionsList: [{
                  text: "Спальни",
                  wordForms: "спальня спальни спален"
                },
                {
                  text: "Кровати",
                  wordForms: "кровать кровати кроватей"
                },
                {
                  text: "Ванные комнаты",
                  wordForms: "ванная ванные ванных"
                }
              ]
            })
          .ui-kit__masked-field
            +masked-text-field({
              placeholder: "ДД.ММ.ГГГГ",
              title: "masked text field"
            })
          .ui-kit__date-dropdowns
            +range-datepicker({
              startLabel: "date dropdown",
              endLabel: "date dropdown",
              controls: true
            })
          .ui-kit__date-filter
            +date-filter({title: "filter date dropdown"})
          .ui-kit__sub
            +subscription({
              placeholder: "Email",
              title: "subscription text field"
            })
        .ui-kit__checkers
          .ui-kit__checkboxes
            .ui-kit__checkbox
              .ui-kit__checkbox-title Checkbox Buttons
              +checkbox({labelText: "Можно курить"})
            .ui-kit__checkbox
              +checkbox({
                labelText:"Можно с питомцами", 
                checked: true
              })
            .ui-kit__checkbox
              +checkbox({
                labelText:"Можно пригласить гостей (до 10 человек)", 
                checked: true
              })
          .ui-kit__radio
            .ui-kit__radio-title Radio Buttons
            .ui-kit__radio-buttons
              .ui-kit__radio-button
                +radio-btn({
                  labelText: "Мужчина", 
                  name: "gender"
                })
              .ui-kit__radio-button
                +radio-btn({
                  labelText: "Женщина", 
                  name: "gender"
                })
          .ui-kit__togglers
            .ui-kit__toggle-title Toggle
            .ui-kit__toggle
              +toggle-btn({btnText: "Получать спецпредложения"})
            .ui-kit__toggle
              +toggle-btn({btnText: "Получать спецпредложения"})
          .ui-kit__like
            .ui-kit__like-title Like button
            .ui-kit__like-buttons
              .ui-kit__like-button
                +like-btn({likes: 2})
              .ui-kit__like-button
                +like-btn({
                  likes: 12, 
                  active: true
                })
          .ui-kit__rate
            .ui-kit__rate-title Rate button
            .ui-kit__rate-buttons
              .ui-kit__rate-button
                +rate-btn({name: "test", checkedRating: 4})
              .ui-kit__rate-button
                +rate-btn({name: "test1", checkedRating: 5})
        .ui-kit__buttons-slider
          .ui-kit__slider-range
            +slider({
              title: "range slider", 
            })
          .ui-kit__buttons
            .ui-kit__button-title Buttons
            .ui-kit__button-list
              +btn({
                type: "primary", 
                btnText: "click me"
              })
              +btn({
                type: "primary", 
                btnText: "click me"
              })
              +btn({
                type: "secondary", 
                btnText: "click me"
              })
              +btn({
                type: "secondary", 
                btnText: "click me"
              })
            .ui-kit__links
              .ui-kit__link
                +link({
                  link: "#", 
                  linkText: "Click me"
                })
              .ui-kit__link
                +link({
                  link: "#", 
                  linkText: "Click me"
                })
            .ui-kit__proceed
              +btn({
                type: "proceed", 
                btnText: "перейти к оплате"
              })
            .ui-kit__pagination
              +pagination({
                num: 15, 
                title: "pagination", 
                description: "1 – 12 из 100+ вариантов аренды"
              })
      .ui-kit__dropdowns
        .ui-kit__dropdown-set
          .ui-kit__dropdowns-list
            .ui-kit__dropdown-item
              +dropdown({
                title: "dropdown",
                placeholder: "Комнаты",
                optionsList: [{
                    text: "Спальни",
                    wordForms: "спальня спальни спален"
                  },
                  {
                    text: "Кровати",
                    wordForms: "кровать кровати кроватей"
                  },
                  {
                    text: "Ванные комнаты",
                    wordForms: "ванная ванные ванных"
                  }
                ]
              })
            .ui-kit__dropdown-item
              +dropdown({
                title: "dropdown",
                placeholder: "Комнаты",
                optionsList: [{
                    text: "Спальни",
                    wordForms: "спальня спальни спален"
                  },
                  {
                    text: "Кровати",
                    wordForms: "кровать кровати кроватей"
                  },
                  {
                    text: "Ванные комнаты",
                    wordForms: "ванная ванные ванных"
                  }
                ]
              })
          .ui-kit__expand-lists
            .ui-kit__expand-list
              +expandable-list({
                title: "expandable checkbox list",
                list: [{
                    labelText: "Завтрак"
                  },
                  {
                    labelText: "Письменный стол",
                    checked: true
                  },
                  {
                    labelText: "Стул для кормления",
                    checked: true
                  },
                  {
                    labelText: "Кроватка",
                    checked: true
                  },
                  {
                    labelText: "Телевизор"
                  },
                  {
                    labelText: "Шампунь"
                  },
                  {
                    labelText: "Телевизор"
                  },
                  {
                    labelText: "Шампунь"
                  }
                ]
              })
            .ui-kit__expand-list
              +expandable-list({
                title: "expandable checkbox list",
                list: [{
                    labelText: "Завтрак"
                  },
                  {
                    labelText: "Письменный стол",
                    checked: true
                  },
                  {
                    labelText: "Стул для кормления",
                    checked: true
                  },
                  {
                    labelText: "Кроватка",
                    checked: true
                  },
                  {
                    labelText: "Телевизор"
                  },
                  {
                    labelText: "Шампунь"
                  },
                  {
                    labelText: "Телевизор"
                  },
                  {
                    labelText: "Шампунь"
                  }
                ]
              })
          .ui-kit__advantages
            .ui-kit__advantage
              +advantage({
                title: "Комфорт",
                description: "Шумопоглощающие стены",
                alt: "Дом",
                imgLink: "advantage-house.svg"
              })
            .ui-kit__advantage
              +advantage({
                title: "Удобство",
                description: "Окно в каждой из спален",
                alt: "Город",
                imgLink: "advantage-city.svg"
              })
        .ui-kit__extended-dropdowns
          .ui-kit__controls-dropdowns
            .ui-kit__controls-dropdown
              +dropdown({
                title: "dropdown",
                controls: true,
                placeholder: "Сколько гостей",
                optionsList: [{
                    text: "Взрослые",
                    wordForms: "гость гостя гостей",
                    group: 1
                  },
                  {
                    text: "Дети",
                    wordForms: "гость гостя гостей",
                    group: 1
                  },
                  {
                    text: "Младенцы",
                    wordForms: "младенец младенца младенцев"
                  }
                ]
              })
            .ui-kit__controls-dropdown
              +dropdown({
                title: "dropdown",
                controls: true,
                placeholder: "Сколько гостей",
                optionsList: [{
                    text: "Взрослые",
                    wordForms: "гость гостя гостей",
                    group: 1
                  },
                  {
                    text: "Дети",
                    wordForms: "гость гостя гостей",
                    group: 1
                  },
                  {
                    text: "Младенцы",
                    wordForms: "младенец младенца младенцев"
                  }
                ]
              })
          .ui-kit__checkboxes-bullet
            .ui-kit__rich-checkboxes
              .ui-kit__rich-checkboxes-title rich Checkbox Buttons
              .ui-kit__rich-checkbox
                +rich-checkbox({
                  labelText: "Широкий коридор", 
                  description: "Ширина коридоров в номере не менее 91 см."
                })
              .ui-kit__rich-checkbox
                +rich-checkbox({
                  labelText: "Помощник для инвалидов", 
                  description: "На 1 этаже вас встретит специалист  и проводит до номера.",
                  wide: true
                })
            .ui-kit__bullet
              +bullet-list({
                title: "bullet list",
                items: ["Нельзя с питомцами",
                  "Без вечеринок и мероприятий",
                  "Время прибытия — после 13:00, а выезд до 12:00"
                ]
              })
          .ui-kit__comment
            +comment({
              src: "comment.jpg",
              likes: 12,
              activeLike: true,
              author: "Мурад Сарафанов",
              date: "5 дней назад",
              comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
            })
    //- script(src="./app.js")
    script(src="./form-elements.js")