mixin subscription(options)
  .subscription
    input.subscription__input(type="email", name=options.name, placeholder=options.placeholder)
    button.subscription__submit-btn
      span.visually-hidden Submit
