.subscription {
  position: relative;
  display: flex;
  height: 44px;

  &__input {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid $dark-25;
    border-right: 0;
    border-radius: 4px;
    font: $default-font;
    color: $dark-25;
    padding: 12px 15px;
    transition: $transition;

    &:hover,
    &:focus {
      outline: none;
      border-color: $dark-50;
      color: $dark-75;
    }
  }

  &__submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    min-width: 44px;
    border: 0;
    background-color: transparent;
    background-image: url("/assets/components/form-elements/subscription/arrow_forward.svg");
    background-repeat: no-repeat;
    background-position: center;
  }


}