mixin rich-checkbox({inputName = 'rich-checkbox', labelText = 'Заголовок', description = 'Описание пункта'} = {})
  label.rich-checkbox
    input.rich-checkbox__input.visually-hidden(type="checkbox", name=inputName)
    span.rich-checkbox__checkmark
    span.rich-checkbox__label-text=labelText
    span.rich-checkbox__description=description