mixin rich-checkbox(options)
  label.rich-checkbox
    input.rich-checkbox__input.visually-hidden(type="checkbox", name=options.inputName)
    span.rich-checkbox__checkmark
    span.rich-checkbox__label-text=options.labelText
    span.rich-checkbox__description=options.description