include ../checkbox/checkbox.pug

mixin expandable-list({title, list = []} = {})
  .expandable-list.js-expandable
    label.expandable-list__title.js-expandable-label=title
    button.expandable-list__expand-button.expandable-list__expand-button_hidden.js-expandable-button(type="button")
    ul.expandable-list__list.expandable-list__list_hidden.js-expandable-list
      each value in list ? list : ["There are no values"]
        li.expandable-list__checkbox
          +checkbox({labelText: value.labelText, checked: value.checked})