.expandable-list {
  position: relative;
  min-height: 44px;

  &__title {
    @include form-element;
    margin-bottom: 18px;
    padding-right: 30px;
  }

  &__expand-btn {
    position: absolute;
    border: 0;
    width: 22px;
    height: 22px;
    right: 11px;
    top: -3px;
    background-color: transparent;
    background-image: url('/arrow_up.svg');
    background-repeat: no-repeat;
    background-position: center;

    &_hidden {
      background-image: url('/arrow_down.svg');
    }

    &:focus,
    &:active {
      outline: 0;
      box-shadow: 0 0 0 2px $dark-75;
    }
  }

  &__checkbox {
    margin-bottom: 12px;
  }
}