.ui-kit .container {
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 143px;
  display: flex;
}

.inputs {
  width: 100%;
  max-width: 320px;
  margin-bottom: 100px;
  margin-right: 126px;

  &__text-field {
    margin-bottom: 20px;

    *::placeholder {
      letter-spacing: -0.01em;
    }
  }

  &__dropdown {
    margin-bottom: 23px;
  }

  &__masked-field {
    margin-bottom: 40px;
  }

  &__date-dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  &__date-dropdown {
    max-width: 150px;
  }

  &__date-filter {
    max-width: 266px;
    margin-bottom: 41px;
  }

  &__sub {
    max-width: 267px;
  }
}

.checkboxes {
  max-width: 222px;
  margin-bottom: 42px;

  &__checkbox {
    .masked-field__title {
      margin-bottom: 16.5px;
    }

    margin-bottom: 12px;
  }
}

.radio {
  margin-bottom: 38px;

  &__buttons {

    display: flex;
  }

  &__button:last-child {
    margin-left: 20px;
  }

  .masked-field__title {
    margin-bottom: 14px;
  }
}

.togglers {
  .masked-field__title {
    margin-bottom: 14px;
  }
}