include ../../components/meta/meta.pug
include ../../components/find-room/find-room.pug
include ../../components/registration/registration.pug
include ../../components/booking/booking.pug
include ../../components/room/room.pug
include ../../components/login/login.pug
include ../../components/range-datepicker/range-datepicker.pug

mixin cards(options = {})
  -
    var {
      description = "cards",
        keywords = "cards",
        title = "Cards",
        findRooms = [{
          title: "Найдём номера под ваши пожелания"
        }],
        registration = [{
          title: "Регистрация аккаунта",
          noteText: "Уже есть аккаунт на Toxin"
        }],
        booking = [{
          number: "888",
          type: "люкс",
          fullPrice: "38 081₽",
          price: "9 990₽",
          calculation: [
            ["9 990₽ х 4 суток", "39 960₽"],
            ["Сбор за услуги: скидка 2 179₽", "0₽", "Инфо"],
            ["Сбор за дополнительные услуги", "300₽", "Информация"]
          ]
        }],
        login = [{
          noteText: "Нет аккаунта на Toxin?"
        }],
        datepicker = [{
          controls: true,
          inline: true
        }],
        rooms = [{
            number: "888",
            checkedRating: 3,
            isRatingDisabled: true,
            sliderImgs: ["./1.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
            link: "./mock",
            reviewNumber: 145,
            type: "люкс",
            fullPrice: "38 081₽",
            price: "9 990₽",
          },
          {
            number: "840",
            checkedRating: 4,
            isRatingDisabled: true,
            sliderImgs: ["./1.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
            link: "./mock",
            reviewNumber: 65,
            fullPrice: "38 081₽",
            price: "9 990₽",
          }
        ]
    } = options
  <!DOCTYPE html>
  html(lang="ru")
    +meta({description, keywords, title})
    body.cards
      .cards__container
        .cards__find-register
          .cards__find-room
            +find-room(findRooms[0])
          .cards__registration
            +registration(registration[0])
        .cards__booking-login
          .cards__booking
            +booking(booking[0])
          .cards__login
            +login(login[0])
        .cards__datepicker-rooms
          .cards__datepicker
            +range-datepicker(datepicker[0])
          .cards__rooms
            .cards__room
              +room(rooms[0])
            .cards__room
              +room(rooms[1])