include ../like-btn/like-btn.pug

mixin comment({src = "./mock", author = "Автор", date = "31.12.2020", likes = 5, activeLike = false, comment = "Комментарий"} = {})
  .comment
    .comment__info
      img.comment__photo(src=src, alt="Фото автора комментария")
      .comment__author=author
      .comment__date=date
    .comment__box
      .comment__like
        +like-btn({likes: likes, active: activeLike})
      blockquote.comment__text=comment


