extends ../template-page/template-page.pug

block meta
  meta(name="description", content="index page")
  meta(name="keywords", content="index")

block title
  title Index page

block content      
  body.index-page
    a.index-page__link(href="./colors-type.html") Colors Type
    a.index-page__link(href="./cards.html") Cards
    a.index-page__link(href="./form-elements.html") Form elements
    a.index-page__link(href="./headers-footers.html") Headers Footers
    a.index-page__link(href="./landing-page.html") Landing page
    a.index-page__link(href="./registration-page.html") Registration
    a.index-page__link(href="./room-details.html") Room details
    a.index-page__link(href="./search-room.html") Search room
    a.index-page__link(href="./signin-page.html") Sign in