.radio-button {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 30px;
  font: $default-font;
  line-height: 24px;
  color: $dark-50;
  cursor: pointer;

  &__checkmark {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid $dark-25;
    background-image: none;
    border-radius: 50%;
  }

  &__input {
    @include visually-hidden;
  }

  &__input:checked~&__checkmark {
    border: 1px solid $purple;
    background-image: url('./img/radio-pin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
  }

  &__input:focus~&__checkmark,
  &__input:active~&__checkmark {
    box-shadow: 0 0 0 1px $dark-50;
  }

  &__input:checked~* {
    color: $dark-75;
  }
}