mixin colors({ colors = [] } = {}) 
  section.colors
    ul.colors__list
      each val in colors
        li.colors__color
          .colors__sample(class=val.class)
          .colors__info
            .colors__title=val.title
            .colors__text=val.text
