mixin colors({ colors = [] } = {}) 
  section.colors
    ul.colors__list
      each value in colors
        li.colors__color
          .colors__sample(class=value.class)
          .colors__information
            .colors__title=value.title
            .colors__text=value.text
