.colors {
  font: $datepicker-switch;

  &__list {
    margin-left: 10px;
  }

  &__color {
    display: flex;
    margin-bottom: 20px;
  }


  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
  }

  &__sample {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }
}