.colors {
  font: $datepicker-switch;

  &__list {
    margin-left: 10px;
  }

  &__color {
    display: flex;
    margin-bottom: 20px;
  }


  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
  }

  &__sample {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &_dark-100 {
      background-color: $dark-100;
    }

    &_dark-75 {
      background-color: $dark-75;
    }

    &_dark-50 {
      background-color: $dark-50;
    }

    &_dark-25 {
      background-color: $dark-25;
    }

    &_dark-5 {
      background-color: $dark-5;
    }

    &_purple {
      background-color: $purple;
    }

    &_green {
      background-color: $green;
    }
  }
}