extends ../../components/template-page/template-page.pug

include ../../components/colors/colors.pug
include ../../components/type/type.pug

block meta
  meta(name="description", content="colors and type")
  meta(name="keywords", content="colors, type")
  link(rel="stylesheet", href="colors-type.css")

block title
  title Colors and type

block content
  body.colors-type
    .colors-type__container
      +colors()
      +type()
