.colors-type {
  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    padding-top: 145px;
  }

  &__colors {
    font: $datepicker-switch;
  }

  &__colors-list {
    margin-left: 10px;
  }

  &__color {
    display: flex;
    margin-bottom: 20px;
  }

  &__color-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  }

  &__color-title {
    font-weight: 700;
  }

  &__color-text {
    font-weight: 400;
  }

  &__color-sample {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &_dark_100 {
      background-color: $dark-100;
    }

    &_dark_75 {
      background-color: $dark-75;
    }

    &_dark_50 {
      background-color: $dark-50;
    }

    &_dark_25 {
      background-color: $dark-25;
    }

    &_dark_5 {
      background-color: $dark-5;
    }

    &_purple {
      background-color: $purple;
    }

    &_green {
      background-color: $green;
    }
  }

  &__type {
    margin-right: 48px;
  }

  &__type-list {
    display: table;
  }

  &__type-item {
    display: table-row;

    &:not(:last-child) .colors-type__type-text {
      padding-bottom: 50px;
    }

    &_type_h1 {
      font: $h1-font;

      .colors-type__type-title {
        text-transform: uppercase;
        font: inherit;
        font-family: 'Montserrat';
        font-weight: 400;
      }
    }

    &_type_h2 {
      font: $h2-font;

      .colors-type__type-title {
        font: inherit;
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    &_type_h3 {
      font: $btn-font;
      text-transform: uppercase;

      .colors-type__type-title {
        font: inherit;
        font-weight: 400;
      }

      &:not(:last-child) .colors-type__type-text {
        padding-bottom: 48px;
      }
    }

    &_type_body {
      font: $default-font;

      .colors-type__type-title {
        text-transform: capitalize;
      }

      .colors-type__type-text {
        box-sizing: border-box;
        padding-right: 39px;
        line-height: 24px;
      }
    }
  }

  &__type-title {
    display: table-cell;
    color: $dark-25;
    font: $default-font;
    text-align: right;
    padding-right: 30px;
  }

  &__type-text {
    max-width: 340px;
    display: table-cell;
  }
}