@mixin form-element {
  font: $button-font;
  text-transform: uppercase;
}

@mixin container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 140px;
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;


  @media (max-width: 768px) {
    min-height: 0;
  }
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}