$dark-100: rgba(#1f2041, 1);
$dark-75: rgba(#1f2041, 0.75);
$dark-50: rgba(#1f2041, 0.5);
$dark-25: rgba(#1f2041, 0.25);
$dark-10: rgba(#1f2041, 0.1);
$dark-5: rgba(#1f2041, 0.05);
$purple: rgba(#bc9cff, 1);
$green: rgba(#6fcf97, 1);
$white: rgba(#ffffff, 1);

$border: #e5e5e5;

$btn-gradient-light: linear-gradient(180deg, rgba(#bc9cff, 0.5) 0%, rgba(#8ba4f9, 0.5) 100%);
$btn-gradient-ultralight: linear-gradient(180deg, rgba(#bc9cff, 0.25) 0%, rgba(#8ba4f9, 0.25) 100%);
$btn-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

$room-shadow: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

$datepicker-today: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$default-font: 400 14px 'Montserrat',
Arial,
sans-serif;
$btn-font: 700 12px 'Montserrat',
Arial,
sans-serif;
$datepicker-switch: 700 19px 'Quicksand',
Arial,
sans-serif;
$h1-font: 700 24px 'Quicksand',
Arial,
sans-serif;
$h2-font: 700 19px 'Quicksand',
Arial,
sans-serif;

$transition: 0.3s;