include ../components/cards/find-room/find-room.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    p
    .cards__find-room
      +find-room({title: 'Найдём номера под ваши пожелания'})

