include ../components/headers-footers/headers.pug

+header({username: 'Cosmin Negoita', items: [{text: 'Home', active: true, link: '#'}, {text: 'About Us', link: '#'}, {text: 'Services', link: '#'},{text: 'Careers', link: '#'},{text: 'News', link: '#'},{text: 'Documentation', link: '#'}]})
+header({logged: true, regText: 'register', loginText: 'login', items: [{text: 'Home', active: true, link: '#'}, {text: 'About Us', link: '#'}, {text: 'Services', link: '#'},{text: 'Careers', link: '#'},{text: 'News', link: '#'},{text: 'Documentation', link: '#'}]})