<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index page
    link(rel="shortcut icon", href="/assets/img/favicon.png", type="image/x-icon")
    style.
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  body
    a(href="./colors-type.html") Colors Type
    a(href="./cards.html") Cards
    a(href="./form-elements.html") Form elements
    a(href="./headers-footers.html") Headers Footers
    a(href="./landing-page.html") Landing page
    a(href="./registration-page.html") Registration
    a(href="./room-details.html") Room details
    a(href="./search-room.html") Search room
    a(href="./signin-page.html") Sign in