include ../components/form-elements/checkbox-buttons/checkbox.pug
include ../components/form-elements/text-field/text-field.pug
include ../components/form-elements/radio-buttons/radio-buttons.pug
include ../components/form-elements/subscription/subscription.pug
include ../components/form-elements/buttons/buttons.pug
include ../components/form-elements/links/links.pug
include ../components/form-elements/like-btn/like-btn.pug
include ../components/form-elements/rate-btn/rate-btn.pug
include ../components/form-elements/rate-btn/rate-btn.pug
include ../components/form-elements/toggle/toggle.pug
include ../components/form-elements/pagination/pagination.pug
include ../components/form-elements/comment/comment.pug
include ../components/form-elements/advantage/advantage.pug
include ../components/form-elements/bullet-list/bullet-list.pug
include ../components/form-elements/rich-checkbox/rich-checkbox.pug
include ../components/form-elements/range-slider/range-slider.pug
include ../components/form-elements/masked-text-field/masked-text-field.pug
include ../components/form-elements/expandable-list/expandable-list.pug
include ../components/form-elements/dropdown/dropdown.pug
include ../components/form-elements/datepicker/datepicker.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Index Pug page
  body
    p -
    +dropdown({id: 'guest', placeholder: 'Сколько гостей...', optionsList: [{text: 'Спальни', id: 'bedroom'},{text: 'Кровати', id: 'bed'},{text: 'Ванные комнаты', id: 'bathroom', checked: true}]})
    p
    +datepicker({})
    p
    +text-field({placeholder: "Email", name: "test"})
    +checkbox({labelText: "Можно курить"})
    +checkbox({labelText:"Можно с питомцами", checked: true})
    +checkbox({labelText:"Можно пригласить гостей (до 10 человек)", checked: true})
    +radio-btn({labelText: "Мужчина", name: "gender"})
    +radio-btn({labelText: "Мужчина", name: "gender"})
    +subscription({placeholder: "Email"})
    +button({type: "primary", btnText: "Primary"})
    +button({type: "secondary", btnText: "Secondary"})
    +link({link: "#", linkText: "Click me"})
    +like-btn({likes: 27})
    +like-btn({likes: 5, active: true})
    p
    +button({type: "proceed", btnText: "Оплатить"})
    p
    +rate-btn({name: "test"})
    p
    +toggle({btnText: "Получать предложения"})
    p
    +pagination({num: 15, description: "1 – 12 из 100+ вариантов аренды"})
    p
    +comment({src: "/assets/components/form-elements/comment/photo.jpg", likes: 12, author: "Мурад Сарафанов", date: "5 дней назад", comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
    p
    +advantage({title: 'Комфорт', description: 'Шумопоглощающие стены', imgLink: "/assets/components/form-elements/advantage/emoji.svg"})
    +advantage({title: 'Удобство', description: 'Окно в каждой из спален', imgLink: "/assets/components/form-elements/advantage/city.svg"})
    p
    +bullet-list({items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
    p
    +rich-checkbox({labelText: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'})
    p
    +rich-checkbox({labelText: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
    p
    .range-slider
      +range-slider({})
    p
    +masked-text-field({placeholder: 'ДД.ММ.ГГГГ', mask: '00.00.0000'})
    p
    +expandable-list({id: 'expandable', btnId: 'expandable-btn', title: 'expandable checkbox list',list: [{labelText: 'Завтрак'}, {labelText: 'Письменный стол', checked: true},{labelText: 'Стул для кормления', checked: true},{labelText: 'Кроватка', checked: true},{labelText: 'Телевизор'},{labelText: 'Шампунь'},{labelText: 'Телевизор'},{labelText: 'Шампунь'}]})
    p
    +plus-minus({min: 0, max: 5, id: 'example', value: 3})
