include ../components/form-elements/checkbox-buttons/checkbox.pug
include ../components/form-elements/text-field/text-field.pug
include ../components/form-elements/radio-buttons/radio-buttons.pug
include ../components/form-elements/subscription/subscription.pug
include ../components/form-elements/buttons/buttons.pug
include ../components/form-elements/links/links.pug
include ../components/form-elements/like-btn/like-btn.pug
include ../components/form-elements/rate-btn/rate-btn.pug
include ../components/form-elements/rate-btn/rate-btn.pug
include ../components/form-elements/toggle/toggle.pug
include ../components/form-elements/pagination/pagination.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Index Pug page
  body
    +text-field({placeholder: 'Email', name: 'test'})
    +checkbox({labelText: 'Можно курить'})
    +checkbox({labelText:'Можно с питомцами'})
    +checkbox({labelText:'Можно пригласить гостей (до 10 человек)'})
    +radio-btn({labelText: 'Мужчина', name: 'gender'})
    +radio-btn({labelText: 'Мужчина', name: 'gender'})
    +subscription({placeholder: 'Email'})
    +button({type: 'primary', btnText: 'Primary'})
    +button({type: 'secondary', btnText: 'Secondary'})
    +link({link: "#", linkText: "Click me"})
    +like-btn({likes: 27})
    +like-btn({likes: 5, active: true})
    p
    +button({type: 'proceed', btnText: 'Оплатить'})
    p
    +rate-btn({name: 'test'})
    p
    +toggle({btnText: 'Получать предложения'})
    p
    +pagination({num: 15})
    
