include ../components/headers-footers/headers.pug
include ../components/headers-footers/footers.pug
include ../components/cards/registration/registration.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registration
  body.registration-page
    +header({unlogged: true, regText: 'зарегистрироваться', loginText: 'войти',
    items: [{text: 'О нас', link: '#'}, {text: 'Услуги', link: '#', dropdown: [{text: 'Услуга', link: '#'},{text: 'Услуга 2', link: '#'},{text: 'Услуга 2', link: '#'}]},
      {text: 'Вакансии', link: '#'},{text: 'Новости', link: '#'},
      {text: 'Соглашения', link: '#', dropdown: [{text: 'Услуга', link: '#'},{text: 'Услуга 2', link: '#'},{text: 'Услуга 2', link: '#'}]}]})
    main
      .registration-page__registration-card
        +registration({title: 'Регистрация аккаунта', noteText: 'Уже есть аккаунт на Toxin'})
    
    +footer({extended: true,
     copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
      socialList: [{name: 'Twitter', link: '#', imgLink: '/assets/img/twitter.svg'},
      {name: 'Facebook', link: '#', imgLink: '/assets/img/facebook.svg'},{name: 'Insta', link: '#', imgLink: '/assets/img/insta.svg'}],
   sub: {title: 'Subscribe to our newsletter',
    text: 'Receive our latest news and promotions in your inbox!',
     placeholder: 'Your email address'},
      navLists: [{title: 'навигация',
       items: ['О нас', 'Новости', 'Служба поддержки', 'Услуги']},
        {title: 'о нас', 
        items: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']},
         {title: 'Служба поддержки', items: ['Соглашения', 'Сообщества', 'Связь с нами']}],
          sub: {title: 'Подписка', placeholder: 'Email', text: 'Получайте специальные предложения и новости сервиса'},
           companyText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'})
              
    

