mixin datepicker(options)
  #datepicker.input-daterange.input-group
    input.input-sm.form-control(type='text', name='start' )
    //- span.input-group-addon(style={'display': 'none'}) to
    input.input-sm.form-control(type='text', name='end')
  //- input.datepicker(type="text" name="datetimes")

