mixin datepicker(options)
  #datepicker.input-daterange.input-group
    .datepicker__start
      .datepicker__label=options.startLabel
      .datepicker__input-box
        input.input-sm.form-control.datepicker__input(type='text', name='start' placeholder="ДД.ММ.ГГГГ")
    .datepicker__end
      .datepicker__label=options.endLabel
      .datepicker__input-box
        input.input-sm.form-control.datepicker__input(type='text', name='end' placeholder="ДД.ММ.ГГГГ")

