mixin footer-nav({ navigation = {} } = {})  
  .footer-nav
    h3.footer-nav__title=navigation.title
    ul.footer-nav__list
      each value in navigation.items
        li.footer-nav__item
          a.footer-nav__link(href=value.link)=value.text