include ../text-field/text-field.pug

mixin masked-text-field(options)
  if options.title
    .masked-field__title=options.title
  input.text-field.js-date(type="text", name=options.name, placeholder=options.placeholder, data-mask=options.mask)
