include ../text-field/text-field.pug

mixin masked-text-field({title, name, placeholder = 'Дата'} = {})
  if title
    .form-element-title=title
  input.text-field.js-date(type="text" name=name placeholder=placeholder)
