.date-filter {
  position: relative;

  &__title {
    @include form-element;
    margin-bottom: 5px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $dark-25;
    padding: 12px 30px 12px 15px;
    text-transform: lowercase;
    font: $default-font;
    color: $dark-75;
    border-radius: 4px;
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('/datefilter_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }
}