.date-filter {
  position: relative;

  &__title {
    display: block;
    @include form-element;
    margin-bottom: 5px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $dark-25;
    padding: 12px 30px 12px 15px;
    text-transform: lowercase;
    font: $default-font;
    color: $dark-75;
    border-radius: 4px;
    cursor: pointer;

    &:focus,
    &:active {
      outline: 0;
      border-color: $dark-50;
      color: $dark-75;
    }
  }

  &::before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('../../images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }
}