.headers-footers {
  background-color: lightgray;

  &__header_unlogged {
    margin-top: 150px;
    margin-bottom: 40px;
  }

  &__header_logged {
    margin-bottom: 40px;
  }

  &__footer_extended {
    margin-bottom: 40px;
  }
}