extends ../../components/template-page/template-page.pug

include ../../components/main-header/main-header.pug
include ../../components/main-footer/main-footer.pug

block meta
  meta(name="description", content="headers and footers")
  meta(name="keywords", content="headers, footers")

block title
  title Headers Footers

block content
  body.headers-footers
    .headers-footers__unlogged-header
      +main-header({
        unlogged: true,
        regText: "register",
        loginText: "login",
        items: [{
            text: "Home",
            active: true,
            link: "./mock"
          },
          {
            text: "About Us",
            link: "./mock"
          },
          {
            text: "Services",
            link: "./mock",
            dropdown: [{
                text: "Service",
                link: "./mock"
              },
              {
                text: "Service",
                link: "./mock"
              }
            ]
          },
          {
            text: "Careers",
            link: "./mock"
          },
          {
            text: "News",
            link: "./mock"
          },
          {
            text: "Documentation",
            link: "./mock"
          }
        ]
      })
    .headers-footers__logged-header
      +main-header({
        username: "Cosmin Negoita",
        items: [{
            text: "Home",
            active: true,
            link: "./mock"
          },
          {
            text: "About Us",
            link: "./mock"
          },
          {
            text: "Services",
            link: "./mock",
            dropdown: [{
                text: "Service",
                link: "./mock"
              },
              {
                text: "Service",
                link: "./mock"
              }
            ]
          },
          {
            text: "Careers",
            link: "./mock"
          },
          {
            text: "News",
            link: "./mock"
          },
          {
            text: "Documentation",
            link: "./mock"
          }
        ]
      })
    .headers-footers__extended-footer
      +main-footer({
        logoLink: "landing-page.html",
        extended: true,
        copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved.",
        socialList: [{
            name: "Twitter",
            link: "https://twitter.com/",
            imageLink: "twitter.svg"
          },
          {
            name: "Facebook",
            link: "https://www.facebook.com/",
            imageLink: "facebook.svg"
          }, 
          {
            name: "Insta",
            link: "https://www.instagram.com/",
            imageLink: "insta.svg"
          }
        ],
        sub: {
          title: "Subscribe to our newsletter",
          text: "Receive our latest news and promotions in your inbox!",
          placeholder: "Your email address"
        },
        navLists: [{
            title: "Navigation",
            items: [{
              text: "About Us"
            }, {
              text: "News"
            }, {
              text: "Support"
            }, {
              text: "Products"
            }]
          },
          {
            title: "ABOUT US",
            items: [{
              text: "Who we are"
            }, {
              text: "Our team"
            }, {
              text: "Careers"
            }, {
              text: "Investors"
            }]
          },
          {
            title: "Support",
            items: [{
              text: "Documentation"
            }, {
              text: "Community"
            }, {
              text: "Get in Touch"
            }]
          }
        ],
        companyText: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
      })
    .headers-footers__non-extended-footer
      +main-footer({
        logoLink: "landing-page.html",
        socialList: [{
            name: "Twitter",
            link: "https://twitter.com/",
            imageLink: "twitter.svg"
          },
          {
            name: "Facebook",
            link: "https://www.facebook.com/",
            imageLink: "facebook.svg"
          }, 
          {
            name: "Insta",
            link: "https://www.instagram.com/",
            imageLink: "insta.svg"
          }
        ],
        companyText: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
      })