mixin toggle-btn(options = {})
  -
    var {
      name,
      buttonText="Переключатель"
    } = options
  label.toggle-btn
    input.toggle-btn__input(type="checkbox" name=name)
    span.toggle-btn__box
    span.toggle-btn__text=buttonText
