mixin type({ types = [] } = {})
  section.type
    ul.type__list
      each val in types 
        li.type__item(class=`${val.class}`)
          span.type__title=val.type
          span.type__text=val.text
