.type {
  &__item {
    display: grid;
    gap: 0 30px;
    margin-bottom: 50px;
  }

  &__title {
    justify-self: right;
    color: $dark-25;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    text-align: right;
  }
}