mixin type({ types = [] } = {})
  section.type
    ul.type__list
      each value in types 
        li.type__item(class=`${value.class}`)
          span.type__title=value.type
          span.type__text=value.text
