.search-room {
	.login-menu {
		margin-left: -3px;
	}

	.nav__item--dropdown {
		padding-right: 28px;
		margin-right: 0;
	}

	.nav__item .nav__link {
		margin-right: 20px !important;
	}

	.nav__item--dropdown:after {
		right: 29px;
	}

	.footer-nav:nth-child(2) {
		margin: 0px 40px 0 4px;
	}

	.sub__text {
		max-width: none;
	}

	main .container {
		display: grid;
		grid-template-columns: minmax(max-content, 266px) 1fr;

		grid-column-gap: 60px;
		padding-top: 12px;
		padding-right: 135px;

		@media (max-width: 1200px) {
			padding: 12px 30px;
			grid-column-gap: 30px;
		}

		@media (max-width: 700px) {
			padding: 12px 15px;
			grid-column-gap: 15px;
		}

		@media (max-width: 600px) {
			display: flex;
		}

		@media (max-width: 550px) {
			flex-direction: column;
		}
	}

	main {
		border-bottom: 1px solid $border;
	}

	.main-header {
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	}
}
