.calc {
  &__item {
    display: flex;
    justify-content: space-between;
    font: $default-font;
    color: $dark-75;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &-description {
      max-width: 214px;
    }
  }

  &__position {
    display: flex;
    max-width: 240px;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__btn {
    width: 20px;
    height: 20px;
    background-image: url('/calc-info.svg');
    cursor: pointer;

    &-box {
      position: relative;
      margin-left: 5px;
    }

    &:hover~.calc__tooltip {
      background-color: $white;
      display: block;
      left: -100px;
      top: 30px;
    }
  }

  &__tooltip {
    position: absolute;
    display: none;
  }
}