mixin calc ({calc = ["no values"]})
  .calc
    each val in calc
      .calc__item
        .calc__position
          .calc__item-description=val[0]
          if val[2]
            .calc__btn-box
              .calc__btn
              .calc__tooltip=val[2]
        .calc__price=val[1]