mixin bullet-list({title, items = [1, 2, 3]} = {}) 
  .bullet-list
    if title
      .form-element-title=title
    ul.bullet-list__list
      each item in items.length ? items : ['There are no items']
        li.bullet-list__item= item