mixin bullet-list(options = {})
  - 
    var {
      title,
      items=["There are no items"]
    } = options
  .bullet-list
    if title
      .bullet-list__title=title
    ul.bullet-list__list
      each item in items
        li.bullet-list__item= item