include ../../form-elements/datepicker/datepicker.pug
include ../../form-elements/dropdown/dropdown.pug
include ../../form-elements/buttons/buttons.pug

mixin find-room(options)
  form.find-room
    .find-room__title=options.title
    .find-room__datepicker
      +datepicker-double({ start: {label: 'Прибытие', id: options.start.id}, end: {label: 'Выезд', id: options.end.id} })
    .find-room__dropdown
      .find-room__label=options.dropdownLabel
      +dropdown({id: 'find-room-dropdown',title: 'Гости',placeholder: 'Сколько гостей...', optionsList: [{text: 'Взрослые', id: 'adult'},{text: 'Дети', id: 'child'}]})
    +button({btnText: 'подобрать номер', type: 'proceed'})
