.find-room {
  box-sizing: border-box;
  max-width: 380px;
  padding: 40px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $white;

  &__title {
    max-width: 320px;
    font: $h2-font;
    font-size: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }

  &__datepicker {
    margin-bottom: 21px;
  }

  &__dropdown {
    margin-bottom: 30px;
  }

  &__label {
    font: $btn-font;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}