mixin room-restrictions(options = {})  
  -
    var {
      title = "Правила",
      cancelTitle = "Отмена",
      restrictions = "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.",
      items = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
    } = options
  section.room-restrictions
    .room-restrictions__room-rules
      h2.room-restrictions__title=title
      .room-restrictions__list
        +bullet-list({items})
    .room-restrictions__room-cancel
      h2.room-restrictions__cancel-title=cancelTitle
      .room-restrictions__text=restrictions