.room-restrictions {
  display: flex;

  @media (max-width: 1150px) {
    justify-content: space-evenly;
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }

  &__title {
    margin: 0 0 17px;
    font: $h2-font;
    padding-left: 20px;

    @media (max-width: 700px) {
      padding-left: 0;
    }
  }

  &__list {
    max-width: 263px;
  }

  &__room-rules {
    margin-right: 98px;

    @media (max-width: 1150px) and (min-width: 701px) {
      margin-right: 30px;
    }

    @media (max-width: 700px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__room-cancel {
    max-width: 341px;
  }

  &__cancel-title {
    margin: 0 0 17px;
    font: $h2-font;
  }

  &__text {
    font: $default-font;
    line-height: 24px;
  }
}