.room {
  box-sizing: border-box;
  width: 270px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;

  &__room {
    font: $h1-font;
    font-size: 14px;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $dark-50;

      .room__type {
        color: rgba($purple, 0.7)
      }
    }
  }

  &__information {
    padding: 19px 15px 17px 20px;
  }

  &__room-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba($dark-100, 0.1);
  }

  &__type {
    color: $purple;
    font: $button-font;
    text-transform: uppercase;
  }

  &__per-day {
    padding-right: 3px;
    color: $dark-50;
    font: $button-font;
    text-decoration: none;
  }

  &__price {
    font-size: 14px;
  }

  &__number {
    display: inline-block;
    margin: 0 0 2px;
    font-size: 17px;
  }

  &__digit {
    font-size: 19px;
    margin: 0 5px 0 3px;
  }

  &__rating {
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 400;
  }

  &__measurement {
    font-weight: 400;
  }

  &__reviews-link {
    display: inline-block;
    margin: 2px 3px 0 0;
    color: $dark-50;
    font: $button-font;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: $dark-25;
    }
  }
}