mixin room-info()  
  section.room-info
    h2.room-info__title Сведения о номере
    .room-info__advantages
      .room-info__advantage
        +advantage({
          title: "Комфорт",
          description: "Шумопоглощающие стены",
          alt: "Дом",
          imgLink: "advantage_house.svg"
        })
      .room-info__advantage
        +advantage({
          title: "Удобство",
          description: "Окно в каждой из спален",
          alt: "Город",
          imgLink: "advantage_city.svg"
        })
      .room-info__advantage
        +advantage({
          title: "Уют",
          description: "Номер оснащён камином",
          alt: "Камин",
          imgLink: "whatshot.svg"
        })