include ../text-field/text-field.pug
include ../note/note.pug

mixin login({action = "./mock", noteText = "Подсказка", noteAction = "registration-page.html"} = {})
  .login
    h2.login__title Войти
    form(action=action).login__form
      .login__login-data
        .login__email
          +text-field({placeholder: "Email", name: "email", type: "email", arialabel: "Почта"})
        .login__password
          +text-field({placeholder: "Пароль", name: "password", type: "password", arialabel: "Пароль"})
      .login__proceed
        +btn({btnText: "войти", styleType: "proceed"})
    .login__note
      +note({noteText: "Нет аккаунта на Toxin?", btnText: "Создать", link: "registration-page.html"})