include ../text-field/text-field.pug

mixin login({action = './mock', noteText = 'Подсказка', link = './mock'} = {})
  .login
    h3.login__title Войти
    form(action=action)
      .login__login-data.login-data
        .login-data__email
          +text-field({placeholder: "Email", name: "email"})
        .login-data__password
          +text-field({placeholder: "Пароль", name: "password"})
      .login__proceed
        +button({btnText: 'войти', type: 'proceed'})
      .login__note.note
        span.note__text=noteText
        .note__btn
          +button({btnText: 'Создать', type: 'secondary', link})
