include ../text-field/text-field.pug
include ../note/note.pug

mixin login({action = './mock', noteText = 'Подсказка', noteAction = 'registration-page.html'} = {})
  .login
    h3.login__title Войти
    form(action=action).login__form
      .login__login-data
        .login__email
          +text-field({placeholder: "Email", name: "email"})
        .login__password
          +text-field({placeholder: "Пароль", name: "password"})
      .login__proceed
        +button({btnText: 'войти', type: 'proceed'})
    .login__note
      +note({noteText: 'Нет аккаунта на Toxin?', btnText: 'Создать', link: 'registration-page.html'})