mixin range-slider(options)
  .slider
    .slider__info
      .slider__title=options.title
      label(for="amount")=options.label
      input.slider__input(type="text" id="amount" readonly)
    #slider-range