.ui-kit {
  &__container {
    @include container;
    padding-left: 141px;
    padding-right: 141px;
  }

  &__interactive {
    display: flex;
    margin-top: 143px;
  }

  &__inputs {
    width: 100%;
    max-width: 320px;
    margin-bottom: 100px;
    margin-right: 126px;
  }

  &__text-field {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 23px;
  }

  &__masked-field {
    margin-bottom: 40px;
  }

  &__date-dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  &__date-dropdown {
    max-width: 150px;
  }

  &__date-filter {
    max-width: 266px;
    margin-bottom: 41px;
  }

  &__sub {
    max-width: 267px;
  }

  &__checkers {
    margin-right: 130px;
  }

  &__checkboxes {
    max-width: 222px;
    margin-bottom: 42px;
  }

  &__checkbox {
    margin-bottom: 12px;
  }

  &__checkbox-title {
    @include form-element;
    margin-bottom: 16.5px;
  }

  &__radio {
    margin-bottom: 38px;
  }

  &__radio-buttons {
    display: flex;
  }

  &__radio-button:not(:last-child) {
    margin-right: 20px;
  }

  &__radio-title {
    @include form-element;
    margin-bottom: 14px;
  }

  &__togglers {
    margin-bottom: 46px;
  }

  &__toggle-title {
    @include form-element;
    margin-bottom: 17px;
  }

  &__toggle {
    margin-bottom: 16px;
  }

  &__like {
    margin-bottom: 40px;
  }

  &__like-title {
    @include form-element;
    margin-bottom: 16px;
  }

  &__like-buttons {
    display: flex;
  }

  &__like-button:not(:last-child) {
    margin-right: 10px;
  }

  &__rate-title {
    @include form-element;
    margin-bottom: 18px;
  }

  &__rate-buttons {
    display: flex;
    margin-left: 2px;
  }

  &__rate-button:not(:last-child) {
    margin-right: 20px;
  }

  &__buttons-slider {
    width: 320px;
  }

  &__buttons {
    width: 100%;
  }

  &__button-title {
    @include form-element;
    margin-bottom: 16px;
  }

  &__slider-range {
    max-width: 266px;
    margin-bottom: 44px;
  }

  &__button-list {
    max-width: 220px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 29px 19px;
    margin-bottom: 30px;
  }

  &__links {
    display: flex;
    margin-bottom: 30px;
  }

  &__link:not(:last-child) {
    margin-right: 20px;
  }

  &__proceed {
    margin-bottom: 40px;
  }

  &__dropdowns {
    display: flex;
  }

  &__dropdown-set {
    margin-right: 177px;
  }

  &__dropdowns-list {
    margin-bottom: 172px;
  }

  &__dropdown-item {
    max-width: 266px;
    margin-bottom: 20px;
  }

  &__expand-lists {
    max-width: 266px;
    margin-bottom: 40px;
  }

  &__expand-list {
    margin-bottom: 20px;
  }

  &__advantages {
    max-width: 280px;
  }

  &__advantage:not(:last-child) {
    margin-bottom: 19px;
  }

  &__extended-dropdowns {
    width: 100%;
    max-width: 712px;
  }

  &__controls-dropdowns {
    display: flex;
    justify-content: space-between;
  }

  &__controls-dropdown {
    width: 100%;
    max-width: 320px;
    margin-bottom: 256px;
  }

  &__rich-checkboxes-title {
    @include form-element;
    margin-bottom: 15px;
  }

  &__rich-checkbox {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__checkboxes-bullet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 231px;
  }

  &__bullet {
    max-width: 260px;
    margin-right: 59px;
  }
}