mixin checkbox({title, inputName, checked = false, labelText = 'Поставьте галочку'} = {})
  if title
    .form-element-title=title
  label.checkbox
    input.checkbox__input.visually-hidden(type="checkbox", name=inputName, checked=checked)
    span.checkbox__checkmark
    =labelText