mixin checkbox({title, inputName, checked = false, labelText = 'Поставьте галочку'} = {})
  if title
    .checkbox__title=title
  label.checkbox
    input.checkbox__input(type="checkbox", name=inputName, checked=checked)
    span.checkbox__checkmark
    =labelText