.cards {
  &__container {
    @include container;
    display: flex;
    margin-top: 150px;
  }

  &__find-register {
    max-width: 380px;
    width: 100%;
    margin-right: 40px;
  }

  &__booking-login {
    width: 100%;
  }

  &__datepicker-rooms {
    width: 100%;
    max-width: 320px;
  }

  &__find-room {
    margin-bottom: 40px;
  }

  &__booking {
    margin-bottom: 40px;
  }

  &__datepicker {
    margin-bottom: 40px;
  }

  &__room {
    margin-bottom: 38px;
  }
}