extends ../../components/template-page/template-page.pug

include ../../components/find-room/find-room.pug
include ../../components/registration/registration.pug
include ../../components/booking/booking.pug
include ../../components/room/room.pug
include ../../components/login/login.pug
include ../../components/range-datepicker/range-datepicker.pug

block meta
  meta(name="description", content="cards")
  meta(name="keywords", content="cards")

block title
  title Cards

block content
  body.cards
    .cards__container
      .cards__find-register
        .cards__find-room
          +find-room({
              title: "Найдём номера под ваши пожелания"
            })
        .cards__registration
          +registration({
              title: "Регистрация аккаунта",
              noteText: "Уже есть аккаунт на Toxin"
            })
      .cards__booking-login
        .cards__booking
          +booking({
            number: "888",
            type: "люкс",
            fullPrice: "38 081₽",
            price: "9 990₽",
            calculation: [
              ["9 990₽ х 4 суток", "39 960₽"],
              ["Сбор за услуги: скидка 2 179₽", "0₽", "Инфо"],
              ["Сбор за дополнительные услуги", "300₽", "Информация"]
            ]
          })
        .cards__login
          +login({noteText: "Нет аккаунта на Toxin?"})
      .cards__datepicker-rooms
        .cards__datepicker
          +range-datepicker({
            startLabel: "Прибытие",
            endLabel: "Выезд",
            controls: true,
            inline: true
          })
        .cards__rooms
          .cards__room
            +room({
              number: "888",
              checkedRating: 3,
              isRatingDisabled: true,
              sliderImgs: ["./1.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
              link: "./mock",
              reviewNumber: 145,
              type: "люкс",
              fullPrice: "38 081₽",
              price: "9 990₽",
            })
          .cards__room
            +room({
              number: "840",
              checkedRating: 4,
              isRatingDisabled: true,
              sliderImgs: ["./1.jpg", "./1.jpg", "./2.jpg", "./1.jpg"],
              link: "./mock",
              reviewNumber: 65,
              fullPrice: "38 081₽",
              price: "9 990₽",
            })