.main-footer {
  background-color: $white;
  min-width: 320px;
  flex: 0 0 auto;

  &__title {
    @include visually-hidden;
  }

  &__outer-wrapper {
    border-top: 1px solid $border;

    @media (max-width: 900px) {
      border-top: 0;
    }
  }

  &__container {
    @include container;

    @media (max-width: 1300px) {
      padding: 0 30px;
    }
  }

  &__main {
    display: flex;
    padding: 100px 0;

    @media (max-width: 1300px) and (min-width: 901px) {
      padding: 50px 0;
    }

    @media (max-width: 900px) {
      padding: 130px 0 0;
      justify-content: center;
    }
  }

  &__company {
    max-width: 260px;
    margin-right: 40px;

    @media (max-width: 900px) {
      margin-right: 0;
    }

    &-logo {
      margin-right: 13px;
    }

    &-logos {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      @media (max-width: 900px) {
        margin-bottom: 16px;
      }
    }

    &-text:not(:only-child) {
      display: flex;
      font: $default-font;
      color: $dark-75;
      line-height: 24px;

      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__nav {
    &:nth-child(2) {
      margin: 0px 40px 0 4px;

      @media (max-width: 1300px) {
        margin: 0;
      }
    }
  }

  &__subscription {
    max-width: 260px;

    &-title {
      color: $dark-100;
      font: $button-font;
      text-transform: uppercase;
      margin: 4px 0 18px;

      @media (max-width: 700px) {
        margin: 0 0 10px;
      }
    }

    &-text {
      font: $default-font;
      color: $dark-75;
      margin-bottom: 23px;
      line-height: 24px;
    }

    &-input {
      min-width: 260px;

      @media (max-width: 700px) {
        min-width: 0;
      }
    }
  }

  &__bottom {
    padding: 23px 0 19px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      padding: 0 0 120px;
    }
  }

  &__copyright {
    margin-top: 2px;
    font: $default-font;
    color: $dark-75;

    @media (max-width: 900px) {
      text-align: center;
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &__social {
    display: flex;

    &-link {
      display: block;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    &-name {
      @include visually-hidden;
    }
  }
}