.date-filter {
  position: relative;


  &__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $dark-25;
    padding: 12px 30px 12px 15px;
    text-transform: lowercase;
    font: $default-font;
    color: $dark-75;
    border-radius: 4px;
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('/assets/components/form-elements/date-filter/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }


}

.datepicker {
  width: 320px !important;
  font: $default-font !important;
  font-size: 12px !important;
  padding-bottom: 0 !important;

  &--cells {
    width: 280px !important;
    margin: 0 auto;
  }

  &--cell {
    border: 0 !important;
  }

  &--days-names {
    width: 280px !important;
    margin: 0 auto !important;
  }

  &--day-name {
    color: $purple !important;
    font: $btn-font !important;
    text-transform: none !important;
    height: 40px !important;
  }

  &--content {
    padding: 0 0 20px 0 !important;
  }

  &--nav {
    border: 0 !important;
    padding: 20px 20px 30px !important;
  }

  &--nav-title {
    font: $datepicker-switch;
  }

  &--nav-action {
    width: 24px !important;
    height: 24px !important;
    background-image: url('/assets/components/form-elements/date-filter/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;

    &[data-action='next'] {
      background-image: url('/assets/components/form-elements/date-filter/arrow_forward.svg');
    }

    svg {
      display: none;
    }
  }

  .-current- {
    color: $white !important;
    background: $datepicker-today;
    border-radius: 50%;
    font-weight: 700;
  }

  .-selected- {
    position: relative;
    border-radius: 50% !important;
    background-image: $btn-gradient !important;
    background-color: transparent !important;
    color: $white !important;
    font-weight: 700;

    &:hover {
      background-image: $btn-gradient !important;
    }
  }

  .-range-from- {

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 40px;
      height: 40px;
      background: $btn-gradient-ultralight !important;
      border-radius: 50% 0 0 50%;
    }


  }

  .-range-to- {

    &::before {
      content: '';
      background: $btn-gradient-ultralight !important;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 50% 50% 0;
    }

  }

  .-in-range- {
    background: $btn-gradient-ultralight !important;
  }

  .-focus- {
    border-radius: 50%;
  }

  &--cell-day {
    width: 40px !important;
    height: 40px !important;
  }

  &--buttons {
    display: flex !important;
    justify-content: space-between !important;
    border-top: 0 !important;
    padding: 0 20px 20px !important;
    font: $btn-font !important;
    text-transform: uppercase !important;
  }

  &--button {
    flex: 0 !important;

    &[data-action='clear'] {
      color: $dark-50 !important;
    }

    &[data-action='close'] {
      color: $purple !important;
    }
  }


}