.radio-btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 30px;
  font: $default-font;
  line-height: 24px;

  &__checkmark {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $dark-25;
    background-image: none;
    border-radius: 50%;
  }


  input:checked~&__checkmark {
    border: 2px solid $purple;
    background-image: url("/assets/components/form-elements/radio-buttons/pin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
  }
}