.main-header {
  background-color: $white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-50;
    padding: 13px 139px;
  }

  &__logo {
    margin-right: 13px;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
  }

  .btn {
    padding: 10px 20px;
  }


  .nav {
    display: flex;
    align-items: center;

    &__list {

      display: flex;
      font: $default-font;
    }

    &__item {
      &--dropdown {
        position: relative;
        padding-right: 10px;

        &::after {
          content: '';
          position: absolute;
          right: 24px;
          top: 6px;
          width: 12px;
          height: 8px;
          background-image: url("/assets/components/headers-footers/dropdown.svg");
          background-repeat: no-repeat;
          background-size: 100%;
        }


        &:hover .nav__dropdown-content {
          display: block;

        }
      }
    }

    &__dropdown {
      &-content {
        position: absolute;
        display: none;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 100%;
        min-width: 100px;
      }

      &-link {
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        width: 100%;
        color: inherit;
        padding: 10px;

        &:hover {
          border-bottom: 1px solid #000;
          padding-bottom: 9px;
        }
      }
    }

    &__item:not(:last-child) .nav__link {
      margin-right: 30px;
    }

    &__link {
      color: inherit;
      text-decoration: none;


      &--active {
        font-weight: 700;
      }
    }
  }

  .login-menu {
    display: flex;
    padding-left: 27px;

    &--logged {
      align-items: center;
      min-height: 30px;
      border-left: 1px solid rgba($dark-100, 0.1);
      font: $default-font;
      padding-left: 31px;
      margin-left: 30px;
    }

    &__login {
      margin-right: 20px;
    }
  }
}