mixin checkbox(options)
  if options.title
    .form-element-title=options.title
  label.checkbox
    input.checkbox__input.visually-hidden(type="checkbox", name=options.inputName, checked=options.checked)
    .checkbox__checkmark
    =options.labelText