mixin header-nav({ items = [] })  
  nav.header-nav
    ul.header-nav__list
      each value in items
        li.header-nav__item(class=value.dropdown ? "header-nav__item_with-dropdown" : "")
          a.header-nav__link(href=value.link class=value.active ? "header-nav__link_active" : "")=value.text
          if value.dropdown
            .header-nav__dropdown-content
              each dropdownItem in value.dropdown.length ? value.dropdown : ["None"]
                a.header-nav__dropdown-link(href=dropdownItem.link)=dropdownItem.text     