.link {
  font: $btn-font;
  color: $purple;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-50;
  }

  &:focus,
  &:active {
    color: $dark-75;
    outline: 0;
  }
}