.main-header {
  background-color: $white;

  &__title {
    @include visually-hidden;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-50;
    padding: 13px 139px;

    @media (max-width: 1200px) {
      padding: 13px 20px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }

    @media (max-width: 400px) {
      padding: 5px;
    }
  }

  &__logo {
    margin-right: 13px;
  }

  &__logo-link {
    display: flex;
    align-items: center;

    @media (max-width: 850px) {
      margin-right: 20px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }

    @media (max-width: 400px) {
      margin: 10px 0;
    }
  }

  &__menu {
    display: flex;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__login-menu {
    display: flex;

    &_logged {
      align-items: center;
      min-height: 30px;
      border-left: 1px solid rgba($dark-100, 0.1);
      font: $default-font;
      padding-left: 31px;
      margin-left: 0;
    }

    @media (max-width: 950px) and (min-width: 601px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__login-button {
    margin-right: 20px;

    @media (max-width: 950px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}