include ../comment/comment.pug

mixin room-reviews(comments = [])  
  section.room-reviews
    .room-reviews__box
      h2.room-reviews__title Отзывы посетителей номера
      .room-reviews__reviews-num 2 отзыва
    .room-reviews__grid
      .room-reviews__room-review
        each comment in comments
          +comment(comment)
