mixin slider(options = {})
  -
    var {
      title="Слайдер",
      name
    } = options
  .slider.js-slider
    .slider__information
      label.slider__title=title
      input.slider__input.slider-input(type="text" name=name readonly)
    .slider-bar