.slider {
  display: flex;
  flex-direction: column;
  position: relative;

  &__information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  &__title {
    font: $button-font;
    text-transform: uppercase;
    width: max-content;
  }

  &__input {
    text-align: right;
    align-self: flex-end;
    padding: 0;
    border: 0;
    font: $default-font;
    font-size: 12px;
    color: $dark-50;
  }
}