mixin slider(options = {})
  -
    var {
      title="Слайдер",
      name
    } = options
  .slider
    .slider__information
      label.slider__title=title
      input.slider__input.js-slider-input(type="text" name=name readonly)
    .js-slider