.rate-btn {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  height: 24px;
  width: 120px;

  &:focus-within {
    outline: 2px solid #4a90e2;
    outline-offset: 4px;
  }

  &__star {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("/rating_star_border.svg");
    background-size: 24px auto;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:disabled {
      pointer-events: none;

      &:hover {
        background-image: initial;
      }
    }

    &:hover~& {
      background-image: url("/rating_star_border.svg");
    }

    &:focus {
      outline: none;
    }


    &:nth-of-type(1) {
      width: 24px;
      z-index: 5;
    }

    &:nth-of-type(2) {
      width: 48px;
      z-index: 4;
    }

    &:nth-of-type(3) {
      width: 72px;
      z-index: 3;
    }

    &:nth-of-type(4) {
      width: 96px;
      z-index: 2;
    }

    &:nth-of-type(5) {
      width: 120px;
      z-index: 1;
    }

    &:checked,
    &:hover {
      background-repeat: repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='10' y1='-2' x2='10' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}