mixin rate-btn({name = 'rating-btn', disabled = false, checkedNum = 3} = {}) 
  fieldset.rate-btn
    each val in [1, 2, 3, 4, 5]
      input.rate-btn__star(type="radio", name=name, value=val disabled=disabled checked=checkedNum==val)

