include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../masked-text-field/masked-text-field.pug
include ../toggle/toggle.pug
include ../btn/btn.pug
include ../note/note.pug

mixin registration({title = "Регистрация", noteText = "Уже зарегистрированы?", action = "./mock", noteAction = "signin-page.html"} = {})
  .registration
    form(action=action).registration__main-form
      h2.registration__title=title
      .registration__name
        +text-field({placeholder: "Имя", name:"registration-name", arialabel: "Имя"})
      .registration__surname
        +text-field({placeholder: "Фамилия", name:"registration-surname", arialabel: "Фамилия"})
      .registration__sex
          .registration__man
            +radio-btn({name: "registration-sex", labelText: "Мужчина"})
          .registration__woman
            +radio-btn({name: "registration-sex", labelText: "Женщина"})
      .registration__birthday
        +masked-text-field({placeholder: "ДД.ММ.ГГГГ", title: "Дата рождения", name:"registration-birthday"})
      .registration__login-data
          .registration__email
            +text-field({placeholder: "Email", name: "registration-email", type: "email", title: "данные для входа в сервис", arialabel: "Почта"})
          .registration__password
            +text-field({placeholder: "Пароль", name: "registration-password", type: "password", arialabel: "Пароль"})
      .registration__offers-btn
        +toggle({name: "registration-offers", btnText: "Получать спецпредложения"})
      .registration__proceed
        +btn({btnText: "перейти к оплате", type: "proceed"})
    .registration__note
      +note({noteText: "Уже есть аккаунт на Toxin", btnText: "Войти", link: "signin-page.html"})
