.registration {
  box-sizing: border-box;
  max-width: 380px;
  width: 100%;
  padding: 40px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $white;

  &__title {
    max-width: 320px;
    font: $h2-font;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 0.05em;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__surname {
    margin-bottom: 8px;
  }

  &__sex {
    display: flex;
    margin-bottom: 22px;
  }

  &__man {
    margin-right: 20px;
  }

  &__birthday {
    margin-bottom: 20px;
  }

  &__offers-btn {
    margin-bottom: 25px;
  }

  &__proceed {
    margin-bottom: 29px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 10px;
  }
}