.headers-footers {
  background-color: lightgray;

  &__unlogged-header {
    margin-top: 140px;
    margin-bottom: 40px;
  }

  &__logged-header {
    margin-bottom: 40px;
  }

  &__extended-footer {
    margin-bottom: 40px;
  }
}