include ../advantage/advantage.pug

mixin room-information(options={})
  -
    var {
      title = "Сведения о номере",
      advantages = []
    } = options
  section.room-information
    h2.room-information__title 
    .room-information__advantages
      each advantage in advantages
        .room-information__advantage
          +advantage(advantage)