.room-information {
  max-width: 291px;
  margin-right: 20px;

  @media (max-width: 750px) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  &__title {
    margin: 1px 0 19px;
    font: $h2-font;
    letter-spacing: 0.03em;
  }

  &__advantage {
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}